@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
.space-mono-regular {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
  }
  
  .space-mono-bold {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: normal;
  }
body{
    background-image: url('./Images/back.jpg');
    background-size: cover;
    background-repeat: none;
}
#form{
    background: rgba(26, 50 ,97, 0.8);
    width: fit-content;
    padding: 3.255vw;
    border-radius: 40px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vw;
    box-shadow: 0 0 10px 5px rgba(92, 86, 86, 0.3);
    
}
 
#input1 input{
    border-radius: 20px;
    border: none;
    height:35px;
    width:20em;
    text-align: center;   
    font-family:'Space Mono', monospace ;     
}
::placeholder {
    color: rgb(66, 65, 65);
    text-align: center;   
    font-family:'Space Mono', monospace ;
  }
#form label{
    color: white;
    font-size: 1.2em;
    font-family: 'Space Mono', monospace;
}
#Gender p1{
    color: white;
    font-size: 0.9em;
    font-family: 'Space Mono', monospace;
}
